snippet "p(ac)?" "Package" r
\usepackage${2:[${3:options}]}{${1:nom}}
endsnippet

snippet nc "New command"
\newcommand{\\${1:nom}}${3:[${4:arguments}]}{${2:code}}
endsnippet

snippet "b(egin)?" "Environment" r
\begin{${1:nom}}
$0
\end{$1}
endsnippet
